*{
    margin: 0;
    font-family: "Inter";
}

/* MENU SUPERIOR */
#menu-superior{
    background-color: #303030;
    padding-top: 120px;
    padding-bottom: 80px;
}

#titulo-menu-superior{
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 600;
}

#texto-menu-superior{
    color:#FFFFFF;
    margin-left: 50px;
    font-size: 18px;
}

 /* MENU INFORMACIONAL */
#menu-informacional{
    background-color: #d6d0d0bb;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}

.bolder{
    font-weight: bolder;
    font-size: 30px;
    margin-left: 60px;
}

.texto-menu-informacional{
    margin-left: 60px;
    font-size: 18px;
}

/* MENU HISTORIA */
#menu-historia{
    padding-bottom: 50px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulo-historia{
    margin-top: 30%;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 500;
}

#texto-historia{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 300;
}

#carrossel{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.imagens{
    margin-top: 50px;
    height: 500px;
    border-radius: 20px;
}

.setas{
    margin-top: 255px;
    cursor: pointer
}

#seta-esquerda{
    display: none;
    
}

#imagem-casa{
    display: none;
}

/* SEÇÃO FORMULÁRIO */
#secao-formulario{
    background-color: #303030;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

#titulo-formulario{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
}

input{
    margin-top: 40px;
    width: 350px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: 500;
}

button{
    cursor: pointer;
    background-color: #C07212;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    transform:translateY(-5px);
    transition: 0.5s;
    box-shadow: 0px 10px 15px 0px #1e1409b6;
}

#seta-direita:hover{
    transform: translateX(5px);
    transition-duration: 0.3s;
}

#seta-esquerda:hover{
    transform: translateX(-5px);
    transition-duration: 0.3s;
}


